// Import bootstap
@import "~bootstrap/scss/bootstrap";

// Import component styles
@import "./components/card/card.styles.scss";
@import "./components/cardlist/cardlist.styles.scss";
@import "./components/pagination/pagination.styles.scss";
@import "./components/searchbox/searchbox.styles.scss";

a {
  display: inline-block;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 500;
  color: #808080;
  margin-top: 0.9em;
  margin-bottom: 0;
  text-decoration: none;
}
a:hover {
  color: #808080;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
  color: #5a5a5a;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 0.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(24px * 2);
}
.App {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1.25em 1em 2em;
}
